@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

* {
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(/assets/img/1054256.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  display: flex;
  justify-content: center;
  color: #00f7ff;
  font-size: 6rem;
  padding-top: 1rem;
  text-shadow: 10px 10px 10px rgb(255, 9, 194);
}

.profile {
  display: flex;
  justify-content: space-around;
  color: aqua;
  font-size: 30px;
}

.profile p {
  margin-top: 15rem;
  text-shadow: 10px 10px 10px rgb(2, 132, 165);
}

.profile img {
  width: 600px;
}

.studies,
.projects {
  padding-bottom: 10rem;
  background: linear-gradient(to right, #01d0f5, black, #f700b9);
  padding-top: 5rem;
}

.studies h2,
.projects h2 {
  text-align: center;
  font-size: 65px;
  color: rgb(6, 252, 252);
  padding-top: 3rem;
  text-shadow: 10px 10px 10px #f501b8;
}

.studiesImg {
  width: 10rem;
}

.card-title {
  color: #f501b8;
  font-size: 3rem;
  text-shadow: 5px 5px 5px #ea00ff8a;
}

.card-text {
  color: #0051ff;
  text-shadow: 5px 5px 5px #00ccff94;
  font-size: 25px;
}

/* .card img {
  transform: scale(1.1);
  transition: transform 0.5s;
} */

.projects {
  background: linear-gradient(to right, #f700b9, black, #01d0f5);
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 10rem;
}

footer p {
  color: #ff09c2;
  font-size: 20px;
}

.icons a {
  font-size: 30px;
  color: #ff09c2;
}
